body {
    background-color: #fff;
    }

h1 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 100px;
    color: #212121;
}

hr {
    width: 64px;
    height: 2px;
    left: 668px;
    top: 163px;
    margin-top: 25px;
}

hr.red-bg {
    background-color:  #E72424;
    border: 1px;
}

hr.green-bg {
    color: green;
}

h2 {
    font-family: OpenSans;
    color:#86878B;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    line-height: 19px;
    font-style: normal;
    font-weight: normal; 
    margin-bottom: 67px; 
}

.margin-50 {
    margin-top: 35px;
}

.title-img {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 50px 50px;    

}
.title-img-lamp {
    background-image: url('/img/lamp.png');
}

.title-img-keyboard {
    background-image: url('/img/keyboard.png');
}

.title-img-light {
    background-image: url('/img/light.png');
}

.title-img-icon {
    display: flex;
    width: 70px;
    height: 70px;
    border: 1px solid #e72424;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

